[Unit]
Description=Black Hole DNS
# Documentation=dig my.ip @xmpp.kwvoip.ca
# Documentation=man:ejabberdctl

After=network.target



[Service]
# Type=oneshot
Type=simple


# ExecStart=/usr/bin/python /tmp/myoutsideip.py  --config-dir=/tmp --debug=3

ExecStart=/usr/bin/python /home/ron/Projects/myoutsideip/myoutsideip.py --config-dir=/home/ron/Projects/myoutsideip --debug=3

Restart=always

[Install]
WantedBy=multi-user.target
