[Unit]
Description=Black Hole DNS
Documentation=dig my.ip @xmpp.kwvoip.ca
# Documentation=man:ejabberdctl

After=network.target



[Service]
Type=oneshot

# PIDFile=/opt/ejabberd/ejabberd.pid
## PIDFile=/run/ejabberd/ejabberd.pid
## GuessMainPID=yes

# User=ejabberd

#ExecStart=/usr/bin/python /tmp/myoutsideip.py  --config-dir=/tmp --debug=3

ExecStart=/usr/bin/python /home/ron/Projects/myoutsideip/myoutsideip.py --config-dir=/home/ron/Projects/myoutsideip



[Install]
WantedBy=multi-user.target
